<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gavin.unnamed_diary">

    <application
        android:allowBackup="true"
        android:icon="@drawable/book"
        android:label="隨手日記"
        android:roundIcon="@drawable/book"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".entrance"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main_diaryPage" />
        <activity android:name=".writingPage"></activity>
    </application>

</manifest>